/.vs/AutomatedTasks/v17/.suo
/.idea/.name
/.vs/AutomatedTasks/FileContentIndex/748cbb52-cccd-4b10-a66c-42e8526cbe0a.vsidx
/.idea/AutomatedTasks.iml
/.idea/codeStyles/codeStyleConfig.xml
/.vs/AutomatedTasks/v17/DocumentLayout.json
/.vs/AutomatedTasks/FileContentIndex/f3ad2273-020e-4c52-8e5c-309da00cff7b.vsidx
/.vs/AutomatedTasks/v17/fileList.bin
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
